.product-picture {
  text-align: center;
  margin-bottom: 15px;
}

.product-card {
  background-color: #fff;
  margin: 10px;
  color: #6c757d;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  box-shadow: 0 0 15px -5px #C1C8C9;
  position: relative;
}

.product-name {
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
}

.product-description {
  margin: 3px 0;
  font-size: 10px;
  text-align: center;
}

.product-price {
  text-align: center;
}

.price-label {
  background-color: #F2CF79;
  position: absolute;
  top: 10px;
  right: -3px;
  font-size: 10px;
  padding: 5px;
  color: #877379;
}
