.header {
  background-color: #fff;
  height: 100px;
  color: #13293D;
  border-bottom: 1px solid #eaeef4;
}

.header-shop-name {
  font-family: 'Didot';
  font-size: 24px;
  padding: 10px;
}

.header-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-subcategories {
  display: flex;
  flex-direction: row;
}

.header-categories-item {
  margin: 0 5px;
}
