<div class="header">
  <div class="header-shop-name">Michatlon</div>
  <div class="header-categories">
    <div class="header-subcategories">
      <button type="button" class="btn btn-outline-secondary header-categories-item" (click)="navigateTo('products')">Produkty</button>
      <button type="button" class="btn btn-outline-secondary header-categories-item" (click)="navigateTo('cart')">
        Koszyk <span class="badge badge-secondary">{{cartService.inCartNumberSubject | async}}</span>
      </button>
    </div>
    <div class="header-subcategories">
      <button (click)="navigateTo('admin')" type="button" class="btn btn-outline-secondary header-categories-item">Admin</button>
    </div>
  </div>
</div>
