<div class="cart-content">
  <p>Twój koszyk:</p>
  <div class="cart-item row" *ngFor="let item of cartItems">
    <div class="cart-item-picture col-3">
      <img src="{{item.pictureURL}}" alt="{{item.description}}" height="100">
    </div>
    <div class="cart-item-data col-3">
        <b>{{item.name}}</b>
        <p>{{item.description}}</p>
    </div>
    <div class="cart-item-price-details col-6">
      <div class="cart-item-quantity">
        <p>ilość: {{item.quantity}}</p>
      </div>
      <div class="cart-item-price">
        <p>cena za sztuke: {{item.price | currency:'PLN':'symbol':'1.2':'pl'}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6 cart-summary">
      <p>suma do zapłaty: {{sumPrice | currency:'PLN':'symbol':'1.2':'pl'}}</p>
      <button *ngIf="sumPrice > 0" type="button" class="btn btn-outline-secondary btn-sm">Zapłać</button>
    </div>
  </div>
</div>
