.categories-menu {
  background-color: #fff;
  border-right: 1px solid #eaeef4;
  color: #6c757d;
  height: 100%;
}

.category-name {
  padding: 5px;
  cursor: pointer;
}

.products-container {
  background-color: #f4f9fc;
  height: 100%;
  margin: 0;
}

.active-category {
  box-shadow: 0 0 10px -5px #C1C8C9;
  color: #000;
}

.products-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

